<h2>Products</h2>

<div *ngFor="let productItem of products; index as productId">

    <h3>
      <a [title]="productItem.name + ' details'"
         [routerLink]="['/products', productId]">
        {{ productItem.name }}
      </a>

      <p *ngIf="productItem.description">
        Descripction: {{productItem.description}}
      </p>
    </h3>
    
    <button (click)="share()">
        Shared
    </button>
    <app-product-alerts
      [productInput]="productItem"
      (notify)="onNotify()">
    </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->